* {
    margin: 0px;
    padding: 0px;
    
}

body {
    background-color: black;
    font-family: 'DM Serif Display', serif;
}
h1 {
    font-family: system-ui;
    color: transparent;
    font-size: 148px;
    font-weight: 600;
    letter-spacing: -0.015em;
    background-image: linear-gradient(180deg, #166f9b, hsl(266, 80%, 54%));
    background-clip: text;
    -webkit-background-clip: text;
    
}

#container {
    background-color: black;
    color: white;
    width: 80%;
    padding: 0px;
    margin: 0px auto;
    border: 4px solid black;

}

header {
    background-color: black;
    height: 220px;
    text-align: center;
    line-height: 200px;
    border-bottom: 3px dashed black;

}

nav {
    background-color: lightgrey;
    height: 50px;
    border: 2px solid #5c6367;
}

nav ul li {

    float: left;
    list-style: none;
    margin: 10px;
    line-height: 30px;
    padding: 0 20 px;
    

}

nav ul li a {
    text-decoration: none;
    

}
button{
    display: flex;
    flex-direction: column;
    width: 3rem;
    height: 3rem;
    border: 0;
    background: transparent;
    gap: .65rem;
}
button > div{
    background: black;
    height: 2px;
    width: 100%;
    border-radius: 5px;
    transition: all .5s;
    transform-origin: left;

}
button:hover div:first-child{
    transform: rotate(45deg);
}
button:hover div:nth-child(2){
    opacity: 0;

}
button:hover div:last-child{
    transform: rotate(-45deg);
}
.clearfix {
    clear: both;
}

#content {
    display: inline-block;
    color: black;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    min-height: 500px;
    background-color: whitesmoke;

}

.producto {
    display: flex;
    color: black;
    width: 400px;
    width: 250px;
    border: 1px solid black;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;

}
img{
    width: 200px;
}
.cardLeft{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
   
}
.cardRight{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.cardleft p {
    text-align: center;

}
.producto:first-child {
    padding-top: 10px;
    border-top: 1px;
}

.producto h2 {
    font-size: 25px;
    align-content: center;
}

aside {
    float: left;
    width: calc(20% - 20px);
    min-width: 500px;
    background-color: grey;
    padding: 10px;
}

footer {
    background-color: floralwhite;
    color: black;
    text-align: center;
    height: 50px;
    line-height: 50px;
}
section{
    display: flex;
    width: 1010px;
    height: 430px;
}
section img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}
section img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

:root {
    --link-size: 64px;
    --trans-props: all 0.3s ease;
  }
  
  body {
    margin: 0;
    padding: 0;
    background: black;
  }
  
  .wrapper {
    width: 100%;
    height: 100vh;
  }
  
  .wrapper,
  .social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
  }
  
  /*** Containers and icons ***/
  
  .social-icon {
    display: flex;
  
    position: relative;
    overflow: hidden; /* Trim branded overlays */
  
    width: var(--link-size);
    height: var(--link-size);
    margin: 8px;
  
    background-color: white;
    border-radius: 50%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
  
    text-decoration: none;
  
    transition: var(--trans-props);
  }
  
  .social-icon i {
    margin: auto; /* Perfect centering thanks to parental flex */
  
    font-size: 24px;
    color: hsl(212, 16%, 48%);
  
    z-index: 1; /* Make sure icons will be on top */
  
    transition: var(--trans-props);
  }
  
  /*** Branded overlays from the bottom ***/
  
  .social-icon:after {
    content: "";
  
    width: var(--link-size);
    height: var(--link-size);
  
    position: absolute;
  
    transform: translate(0, var(--link-size));
  
    border-radius: 50%;
    transition: var(--trans-props);
  }
  
  .social-icon.twitter:after {
    background-color: #1da1f2;
  }
  
  .social-icon.github:after {
    background-color: #24292e;
  }
  
  .social-icon.instagram:after {
    background-image: linear-gradient(
      to bottom left,
      #4f5bd5,
      #962fbf,
      #d62976,
      #fa7e1e,
      #feda75
    );
  }
  
  /*** Animations ***/
  
  .social-icon:hover {
    transform: translateY(-4px);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.16);
  }
  
  .social-icon:hover i {
    /*  transform: scale(1.1); */
    color: #fff;
  }
  
  .social-icon:hover:after {
    transform: translate(0) scale(1.2);
  }