@charset "UTF-8";
.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 10vh;
  column-gap: 5vh;
}

.card {
  display: flex;
  border: 1px solid black;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.contenedorcardss {
  color: rgb(27, 24, 24);
  background-color: rgb(212, 212, 212);
  padding: 20px;
  display: grid;
  grid-template-areas: "card1 card2 card3";
}

.card1 {
  grid-area: card1;
  background-image: url(https://tinypic.host/images/2023/04/06/modelo1.jpg);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.846);
  border-radius: 50px;
  margin: 10px;
  padding: 5px;
  font-weight: bold;
  color: rgb(238, 238, 238);
  height: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 400ms ease;
}
.card1:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}

.card2 {
  grid-area: card2;
  background-image: url(https://tinypic.host/images/2023/04/06/modelo3.jpg);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.846);
  border-radius: 50px;
  margin: 10px;
  padding: 5px;
  font-weight: bold;
  color: rgb(238, 238, 238);
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 400ms ease;
}
.card2:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}

.card3 {
  grid-area: card3;
  background-image: url(https://tinypic.host/images/2023/04/06/modelo4.jpg);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.846);
  border-radius: 50px;
  margin: 10px;
  height: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 400ms ease;
}
.card3:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}
.card3 p {
  padding: 5px;
  font-weight: bold;
  color: rgb(238, 238, 238);
}

.cartas {
  padding: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 5vh;
  column-gap: 5vh;
}
.cartas .card-img-top {
  width: 90%;
  height: 70%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  padding-top: 10px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}
.cartas .card-title {
  margin-left: 70px;
}
.cartas .card-text {
  margin-left: 30px;
}
.cartas .card .buy {
  margin-left: 100px;
  margin-top: 20px;
}

/** Cards Promociones **/
.contenedorcards {
  color: black;
  background-color: rgb(212, 212, 212);
  padding: 20px;
  display: grid;
  max-width: 1600px;
  margin: 0 auto;
  grid-template-areas: "card4 card5 card6" "card7  card8 card9" "card10  card11 card12";
}

.card4 {
  grid-area: card4;
  background-image: url(https://tinypic.host/images/2023/04/06/mochila1.jpg);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.846);
  border-radius: 50px;
  margin: 10px;
  padding: 5px;
  font-weight: bold;
  color: rgb(238, 238, 238);
  height: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card5 {
  grid-area: card5;
  background-image: url(https://tinypic.host/images/2023/04/06/mochila2.jpg);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.846);
  border-radius: 50px;
  margin: 10px;
  padding: 5px;
  font-weight: bold;
  color: rgb(238, 238, 238);
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card6 {
  grid-area: card6;
  background-image: url(https://tinypic.host/images/2023/04/06/mochila3.jpg);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.846);
  border-radius: 50px;
  margin: 10px;
  height: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.card6 p {
  padding: 5px;
  font-weight: bold;
  color: rgb(238, 238, 238);
}

.card7 {
  grid-area: card7;
  background-image: url(https://tinypic.host/images/2023/04/06/bolso1.jpg);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.846);
  border-radius: 50px;
  margin: 10px;
  padding: 5px;
  font-weight: bold;
  color: rgb(238, 238, 238);
  height: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card8 {
  grid-area: card8;
  background-image: url(https://tinypic.host/images/2023/04/06/bolso2.jpg);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.846);
  border-radius: 50px;
  margin: 10px;
  padding: 5px;
  font-weight: bold;
  color: rgb(238, 238, 238);
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card9 {
  grid-area: card9;
  background-image: url(https://tinypic.host/images/2023/04/06/bolso3.jpg);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.846);
  border-radius: 50px;
  margin: 10px;
  height: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.card9 p {
  padding: 5px;
  font-weight: bold;
  color: rgb(238, 238, 238);
}

.card10 {
  grid-area: card10;
  background-image: url(https://tinypic.host/images/2023/04/06/neceser1.jpg);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.846);
  border-radius: 50px;
  margin: 10px;
  padding: 5px;
  font-weight: bold;
  color: rgb(238, 238, 238);
  height: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card11 {
  grid-area: card11;
  background-image: url(https://tinypic.host/images/2023/04/06/neceser2.jpg);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.846);
  border-radius: 50px;
  margin: 10px;
  padding: 5px;
  font-weight: bold;
  color: rgb(238, 238, 238);
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card12 {
  grid-area: card12;
  background-image: url(https://tinypic.host/images/2023/04/06/neceser3.jpg);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.846);
  border-radius: 50px;
  margin: 10px;
  height: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.card12 p {
  padding: 5px;
  font-weight: bold;
  color: rgb(238, 238, 238);
}

/*** Footer ***/
.pie-pagina {
  width: 100%;
  background-color: lightgrey;
}
.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  padding: 45px 0px;
}
.pie-pagina .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pie-pagina figure img {
  width: 250px;
}
.pie-pagina .grupo-1 .box h2 {
  margin-bottom: 25px;
  font-size: 20px;
}
.pie-pagina .grupo-1 .box p {
  color: black;
  margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: wheat;
  margin-right: 10px;
  background-color: #0d2033;
  text-align: center;
  transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover {
  color: aqua;
}
.pie-pagina .grupo-2 {
  background-color: #0a1a2a;
  padding: 15px 10px;
  text-align: center;
  color: white;
}
.pie-pagina .grupo-2 small {
  font-size: 15px;
}

@media screen and (max-width: 768px) {
  .pie-pagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    place-items: center;
    padding: 35px 0px;
  }
  .pie-pagina .grupo-1 .banner-text h1 {
    margin-left: 5px;
    font-size: 41px;
  }
  .pie-pagina .grupo-1 .banner-text h2 {
    text-align: center;
  }
  .pie-pagina .grupo-1 .banner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    margin-left: 0px;
    gap: 1rem;
  }
  .pie-pagina .grupo-1 .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://tinypic.host/images/2023/04/06/pngtree-exquisite-handbags-promotion-season-simple-yellow-banner-picture-image_1023006.png);
    background-size: cover;
    background-position: 69%;
    margin-top: 5px;
    position: relative;
  }
  .pie-pagina .grupo-1 #btn {
    font-weight: bold;
    background-color: rgb(27, 24, 24);
    letter-spacing: 3px;
    color: wheat;
    border-radius: 20px;
    border: none;
    cursor: pointer;
  }
}
@media screen and (max-width: 768px) and (max-width: 480px) {
  .pie-pagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
  .contenedorcardss {
    grid-template-areas: "card1 card1" "card2 card2" "card3 card3";
    padding: 20px;
  }
  .contenedorcards {
    grid-template-areas: "card4 card4" "card5  card5" "card6  card6" "card7  card7" "card8  card8" "card9  card9" "card10 card10" "card11 card11" "card12 card12";
  }
  .banner-text h1 {
    margin-left: 5px;
    font-size: 41px;
  }
  .banner-text h2 {
    text-align: center;
  }
  .banner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    margin-left: 0px;
    gap: 1rem;
  }
  .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://tinypic.host/images/2023/03/28/pngtree-exquisite-handbags-promotion-season-simple-yellow-banner-picture-image_1023006.png);
    background-size: cover;
    background-position: 69%;
    margin-top: 5px;
    position: relative;
  }
  #btn {
    font-weight: bold;
    background-color: rgb(27, 24, 24);
    letter-spacing: 3px;
    color: wheat;
    border-radius: 20px;
    border: none;
    cursor: pointer;
  }
}
/** Otros estilos **/
* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: lightgray;
  font-family: "Urbanist", sans-serif;
  overflow-x: hidden;
  margin: 0px;
}

#bienvenida {
  color: white;
  padding: 300px 0;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.846), rgba(0, 0, 0, 0.853)), url(https://tinypic.host/images/2023/04/06/moda.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  margin-top: -80px;
}
#bienvenida h1 {
  text-align: center;
  font-size: 60px;
}
#bienvenida h2 {
  padding-left: 10%;
  padding-right: 10%;
  font-size: 25px;
  text-align: center;
}

.titulo {
  font-family: "Urbanist", sans-serif;
  color: transparent;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  margin-top: 10px;
  letter-spacing: -0.015em;
  background-image: linear-gradient(180deg, #283746, hsl(266, 50%, 34%));
  background-clip: text;
  -webkit-background-clip: text;
}

.Subtitulo {
  text-align: center;
  margin: 10px;
}

/** HEADER **/
.navbar-brand img {
  width: 150px;
  height: 100px;
}

.nav-item {
  padding-left: 100px;
  font-size: large;
}

/*** ESTILOS PAGINA CARTERAS ***/
#bienvenidaCarteras {
  color: white;
  padding: 300px 0;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.846), rgba(0, 0, 0, 0.853)), url(https://tinypic.host/images/2023/04/06/Cartera-Tote_04.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  margin-top: -80px;
}
#bienvenidaCarteras h1 {
  text-align: center;
  font-size: 60px;
}
#bienvenidaCarteras h2 {
  padding-left: 10%;
  padding-right: 10%;
  font-size: 25px;
  text-align: center;
}

.tarjetas {
  width: 100%;
  display: flex;
  max-width: 1100px;
}

.cardproduct {
  width: 100%;
  border-radius: 30px;
  overflow: hidden;
  background: rgb(225, 218, 218);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms ease;
}
.cardproduct:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}
.cardproduct img {
  width: 100%;
  height: 210px;
  object-fit: cover;
}
.cardproduct .contenido {
  line-height: 1.5;
  color: #6a6a6a;
  justify-content: center;
}
.cardproduct .contenido h3 {
  margin-left: 15px;
  font-weight: 400;
  margin-bottom: 15px;
}
.cardproduct .contenido p {
  margin-left: 10px;
}
.cardproduct .contenido a {
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  justify-content: center;
  margin-top: 10px;
  color: rgb(72, 72, 174);
  border: 1px solid rgb(72, 72, 174);
  border-radius: 4px;
  transition: all 400ms ease;
}
.cardproduct .contenido a:hover {
  background-color: gray;
  color: rgb(72, 72, 174);
}

/*** Pagina Productos ***/
.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #03afff;
  border-radius: 4px;
  transition: transform 0.3s ease-in-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.grid-item {
  background-image: url(https://tinypic.host/images/2023/04/07/7.jpg);
}
.grid-item:hover {
  filter: opacity(0.9);
  transform: scale(1.04);
}

.grid-item.wide {
  background-image: url(https://tinypic.host/images/2023/04/07/13.jpg);
}

.grid-item.tall {
  background-image: url(https://tinypic.host/images/2023/04/07/20.jpg);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  gap: 20px;
  padding: 20px;
  grid-auto-flow: dense;
}

@media (min-width: 600px) {
  .wide {
    grid-column: span 2;
  }
  .tall {
    grid-row: span 2;
  }
}
/** ESTILOS PAGINA PROMOCIONES **/
.containerpromo {
  width: 100%;
  height: 70vh;
}

.container h2 {
  align-items: center;
  color: rgb(27, 24, 24);
  border: 2px solid black;
}

.banner {
  width: 100%;
  height: 65vh;
}

.banner {
  background-image: url(https://tinypic.host/images/2023/04/06/pngtree-exquisite-handbags-promotion-season-simple-yellow-banner-picture-image_1023006.png);
  background-size: cover;
  background-position: 69%;
  margin-top: 5px;
  position: relative;
}

.banner-text {
  padding-top: 100px;
  margin-left: 50px;
}
.banner-text h2 {
  letter-spacing: 10px;
  font-weight: bold;
  font-size: 25px;
}
.banner-text h1 {
  margin-left: 5px;
  font-size: 100px;
}

#btn {
  width: 139px;
  height: 65px;
}

#btn {
  font-weight: bold;
  background-color: rgb(27, 24, 24);
  letter-spacing: 3px;
  margin-left: 50px;
  color: wheat;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

/** Lista de productos en promocion **/
/*** Fondo pagina contacto ***/
.fondoContacto {
  background-color: lightgray;
}

#bienvenidaRiñoneras {
  color: white;
  padding: 300px 0;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.846), rgba(0, 0, 0, 0.853)), url(https://tinypic.host/images/2023/04/07/rinorino.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  margin-top: -80px;
}
#bienvenidaRiñoneras h1 {
  text-align: center;
  font-size: 60px;
}
#bienvenidaRiñoneras h2 {
  padding-left: 10%;
  padding-right: 10%;
  font-size: 25px;
  text-align: center;
  max-width: 70%;
}

/*# sourceMappingURL=style.css.map */
