/** ESTILOS PAGINA PROMOCIONES **/

@mixin size($ancho, $alto){
    width: $ancho;
    height: $alto;
}
.containerpromo {
  @include size(100%, 70vh)
   
  }
  
  .container h2 {
    align-items: center;
    color: $color-secundario;
    border: 2px solid black;
  
  }
  .banner{
    @include size(100%, 65vh)
  }
  .banner {
    background-image: url(https://tinypic.host/images/2023/03/28/pngtree-exquisite-handbags-promotion-season-simple-yellow-banner-picture-image_1023006.png);
    background-size: cover;
    background-position: 69%;
    border-radius: 100px;
    margin-top: 5px;
    position: relative;
  }
  
  .banner-text {
    padding-top: 100px;
    margin-left: 50px;
    h2 {
      letter-spacing: 10px;
      font-weight: bold;
      font-size: 25px;
    }
    h1 {
      margin-left: 5px;
      font-size: 100px;
    }
  }
  #btn{
    @include size(139px, 65px)
  }
  #btn {
    font-weight: bold;
    background-color: $color-secundario;
    letter-spacing: 3px;
    margin-left: 50px;
    color: $color-terciario;
    border-radius: 20px;
    border: none;
    cursor: pointer;
  }

  /** Lista de productos en promocion **/
  
