.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    display: flex;
    border: 1px solid black;
    width: 400px;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
        width: 200px;
        height: 200px;
        object-fit: cover;
    }
}

.contenedorcards {
    color: black;
    background-color: rgb(212, 212, 212);
    padding: 20px;
    display: grid;
    grid-template-areas: "card1 card2 card3";
}

.card1 {
    grid-area: card1;
    background-image: url(https://tinypic.host/images/2023/03/29/modelo1.jpg);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.846);
    border-radius: 50px;
    margin: 10px;
    padding: 5px;
    font-weight: bold;
    color: rgb(238, 238, 238);
    height: 500px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.card2 {
    grid-area: card2;
    background-image: url(https://tinypic.host/images/2023/03/29/modelo5.jpg);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.846);
    border-radius: 50px;
    margin: 10px;
    padding: 5px;
    font-weight: bold;
    color: rgb(238, 238, 238);
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.card3 {
    grid-area: card3;
    background-image: url(https://tinypic.host/images/2023/03/29/modelo4.jpg);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.846);
    border-radius: 50px;
    margin: 10px;
    height: 500px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    p {
        padding: 5px;
        font-weight: bold;
        color: rgb(238, 238, 238);
    }
}